$largScreen: "(min-width : 1700px)";
$minMedium: "(min-width : 992px)";
$ipadScreen: "(max-width:1024px)";
$mobileScreen: "(max-width:823px)";
$smallScreen: "(max-width:766px)";
$extrasmallScreen: "(max-width:400px)";

$mainColor:#DF0E19;
$secondColor:#0066CC;
$mainFont:1rem;
$blackColor:#000;
$whiteColor:#fff;
$left:left;
$right:right
